.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    margin-top: 100px;
    background-color: white;
    min-height: 100vh;
    font-size: 39px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }
  
