.third{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin : 10px auto;
    text-align: center;
    width: 400px;
    height: 40px;
}
.third_child{
    height: 79px;
    border-bottom: 1px solid grey;
}
.third_button{
    width: 60px;
    height: 50px;
    background-color:  #04AA6D;
    color: white;
}
.add{
    background-color: #04AA6D;
    color: white;
    float: right;
    position: Absolute;
    top: 50px;
    right: 0;
    height:70px;
    width:70px;
}
.gridContainerStyle {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 50px; 
    margin: 150px auto;
    max-width: 800px;
}

.bookContainerStyle {
    width: 250px; 
    height: 500px; 
    margin-bottom: 20px;
    border: 2px solid grey; 
    font-size: 30px;
    display: flex;
    flex-direction: column;

    .imageStyle {
        margin-top: 10px;
        width: 200px;
        height: 300px;
    }
    .buttonContainer {
        margin-top: auto; /* Pushes the button to the bottom */
        margin-bottom: 5px;
    }
    
    button {
        width: 100px;
        height: 50px;
        cursor: pointer;
    }

}



