.register-container{
    font-size:20px;
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    margin: 0 auto; 
    padding: 20px;
    .title{
        font-Weight: bold;
        padding-Top: 30px;
        margin-bottom: 10px;
    }
    .text{
        font-Weight: 600;
        text-align: left;
        padding-bottom: 3px;
        font-size: 17px;
    }
    input {
        padding : 12px 5px;
        margin-bottom: 7px; 
        outline: none;
        background: #1618230f;
        border: #1618230f;
        border-radius: 3px;
        width: 100%;
        &:hover{
            background-color: #dedede;
        }
    }
    button {
        margin-top: 10px;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #dedede;
        border:none;
        outline: none;
        cursor:pointer;
        &.active{
            background-color: #fe2c55;
            color : white;
        }
    }
    .back{
        margin-top:30px;
        position: absolute;
        top: 47px;
        left: 550px;
        font-size:16px;
        cursor:pointer;
    }
    .input-2{
        position: relative;
        i {
            position: absolute;
            top: 37px;
            right: 5px;
            font-size:15px
        }
    }
}